@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
}


/*-------------------- Navbar Style --------------------*/

.navbar{
    width: 100%;
    height: 65px;
    background-color: #3d3a3a;
    position: fixed;
    display: flex;
    z-index: 1;
}

.nav-item{
    display: flex;
    margin: auto;
    width: 87%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* background-color: red; */
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: rgb(33, 241, 224);
    text-transform: uppercase;
}


.input-field{
    height: 30px;
    width: 230px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    border-bottom: 2px solid #FFC107;
    outline: none;
}

.search-button{
    margin-left: 15px;
    height: 35px;
    width: 85px;
    border-radius: 8%;
    border-color: transparent;
    background-color: #710bee;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.search-button:hover{
    background-color: #20bf6b;
}
  

/*-------------------- Middle body Style --------------------*/

.body{
    height: 865px;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/259620/pexels-photo-259620.jpeg?cs=srgb&dl=pexels-pixabay-259620.jpg&fm=jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: -1;
}

.date-time{
    height: 45px;
    width: 100%;
    text-align: center;
    padding: 90px 0px 35px 0px;
}

.date-time .date{
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: whitesmoke;
}
.app{
    padding: 40px 0px 15px 0px;
    height: 650px;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    justify-content: center;
    display: flex;
}

.main{
    max-width: 450px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    border: 2px solid whitesmoke;
    background-color: #067faf;
    opacity: 0.9;
    z-index: 0;
}

.main-header{
    height: 60px;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
}

.location{
    /*background-color: green; */
    color: whitesmoke;
    margin: 8px 5px 0px 5px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
}
.main-weather{
    text-align: center;
    margin: 20px 0px 25px 0px;
}
.main-weather p{
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 25px;
}
.weather-img{
    height: 85px;
    width: 85px;
}

.details{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

.fa-sync-alt{
    font-size: 20px;
    color: rgb(13, 241, 241);
    margin: 0px 5px 0px 210px;
}

.fa-map-marker-alt{
    /*background-color: red; */
    margin-left: 10px;
    margin-top: 5px;
    font-size: 25px;
}

.forecast{
    margin-left:85px;
    max-width: 900px;
    height: 550px;
    border-radius: 15px;
    overflow-y: auto;
    border: 2px solid whitesmoke;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #646161; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #646161; 
  }

.card{
    margin: 30px 0px 70px 70px;
    transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
    width: 23%;
    background-color: #067faf;
    opacity: 0.9;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    float: left;
}

.card:hover{
    box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
    transform: scale(1.05,1.05);
  }

.forecast-weather{
    text-align: center;
    margin: 20px 0px 25px 0px;
}
.forecastweather-img{
    height: 73px;
    width: 73px;
}
.forecast-weather p{
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
}

.day-time{
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}


/*-------------------- Others Body Part Style--------------------*/

.loader{
    height: 300px;
    width: 100%;
    padding: 100px 0px 0px 0px;
    color: whitesmoke;
    font-size: 70px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.not-found{
    height: 300px;
    width: 100%;
    padding: 30px 0px 0px 0px;
    color: whitesmoke;
    font-size: 70px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.connection{
    height: 300px;
    width: 100%;
    padding: 50px 0px 0px 0px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/*-------------------- Footer Style --------------------*/

.footer{
    height: 40px;
    background-color: #2e2a2a;
    padding: 25px 0px 0px 0px;
    
}
.footer-content{
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 15px;
    color: rgb(131, 119, 119);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa-github, .fa-linkedin{
    color: rgb(131, 119, 119);
    margin-left: 10px;
    font-size: 18px;
}

.fa-github:hover{
    color: whitesmoke;
}
.fa-linkedin:hover{
    color: whitesmoke;
}
